{% extends 'main.html' %}
{% block content %}
    {% load static %}
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <div class="tile-body">
                    <h3 class="tile-title">请求调试&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:15px;"
                                                                       id="error_xml"></span></h3>
                    <form class="row" id="form_xml" action="." method="POST">
                        {% csrf_token %}
                        <div class="form-group col-md-6">
                            <label class="control-label">Single:</label>
                            <input class="form-control" type="text" id="inputHost" name="inputHost"
                                   value="http://webqo01.web.djt.ted:8012/request">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">&nbsp;</label>
                            <input class="form-control" type="text" id="inputExpId" name="inputExpId"
                                   placeholder="ExpId">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">&nbsp;</label>
                            <input class="form-control" type="text" id="query_from" name="query_from"
                                   placeholder="from">

                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Diff:</label>
                            <input class="form-control" type="text" id="inputHost_diff" name="inputHost_diff"
                                   value="http://webqo01.web.djt.ted:8012/request">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">&nbsp;</label>
                            <input class="form-control" type="text" id="inputExpId_diff" name="inputExpId_diff"
                                   placeholder="ExpId">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">&nbsp;</label>
                            <input class="form-control" type="text" id="query_from_diff" name="query_from_diff"
                                   placeholder="from">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea class="form-control" rows="4" id="query" name="query" placeholder="请求"
                        ></textarea>
                        </div>
                    </form>
                </div>
                <div class="tile-footer">
                    <button class="btn btn-primary" id="start_debug" type="button"><i
                            class="fa fa-fw fa-lg fa-check-circle"></i>开始调试
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-primary" id="start_diff" type="button"><i
                            class="fa fa-fw fa-lg fa-check-circle"></i>diff
                    </button>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="tile" style="height: 690px;overflow-y: scroll">
                <h3 class="tile-title">结果</h3>
                <textarea class="form-control" rows="27" id="result" name="result"></textarea>
                <div id="result_diff"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        //query
        $('#start_debug').click(function () {
            var query = $('#query').val()
            var inputHost = $('#inputHost').val()
            var query_from = $('#query_from').val()
            var inputExpId = $('#inputExpId').val()

            if (query != "" && inputHost != "") {
                $.ajax({
                    type: "POST",
                    url: "/webqo/debug/",
                    async: true,
                    traditional: true,
                    data: $('#form_xml').serialize(),
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            $('#result_diff').hide()
                            $('#result').show()
                            $('#result').text(ret.data)
                        } else {
                            $('#error_xml').text(ret.error)

                        }

                    },
                    error: function () {

                    },
                });
                $('#error_xml').text('');
            } else {
                if (query == '') {
                    $('#error_xml').text('Request不可为空');
                } else if (inputHost == '') {
                    $('#error_xml').text('Host不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        })

        //diff
        $('#start_diff').click(function () {
            var query = $('#query').val()
            var query_from = $('#query_from').val()
            var inputHost = $('#inputHost').val()
            var inputExpId = $('#inputExpId').val()

            var inputHost_diff = $('#inputHost_diff').val()
            var inputExpId_diff = $('#inputExpId_diff').val()
            var query_from_diff = $('#query_from_diff').val()

            if (query != "" && inputHost != "" && inputHost_diff != "") {
                $.ajax({
                    type: "POST",
                    url: "/webqo/debug/diff",
                    async: true,
                    traditional: true,
                    data: {
                        'inputHost': inputHost,
                        'inputExpId': inputExpId,
                        'query_from': query_from,
                        'query': query,
                        'inputHost_diff': inputHost_diff,
                        'inputExpId_diff': inputExpId_diff,
                        'query_from_diff': query_from_diff
                    },
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            $('#result').hide()
                            $('#result_diff').show()
                            $('#result_diff').html(ret.data)
                        } else {
                            $('#error_xml').text(ret.error)
                        }
                    },
                    error: function () {
                    },
                });
                $('#error_xml').text('');
            } else {
                if (query == '') {
                    $('#error_xml').text('Request不可为空');
                } else if (inputHost == '') {
                    $('#error_xml').text('Host不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        })
    </script>
{% endblock %}


