{% extends 'father.html' %}{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<h3 class="tile-title">菜单管理</h3>
			<div class="tile-body">
				<table class="table table-hover">
				    <thead>
				    <tr role="row">
				        <th>菜单</th>
				        <th>父级菜单</th>
				        <th colspan="2">操作</th>
				    </tr>
				    </thead>
				    <tbody>
				    {% for menu in menu_list %}
				        <tr>
				            <td>{{ menu.title }}</td>
				            <td>{{ menu.parent }}</td>
				            <td><a href="/rbac/menus/edit/{{ menu.id }}">编辑</a></td>
				            <td><a href="/rbac/menus/delete/{{ menu.id }}">删除</a></td>
				        </tr>
				    {% endfor %}
				    </tbody>
				</table>
			</div>
			<div class="tile-footer">
				<div class="row">
					<div class="col-md-9 col-md-offset-2">
						<a href="/rbac/menus/new" ><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>新增</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
