{% extends 'father.html' %}{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<h3 class="tile-title">角色管理</h3>
			<div class="tile-body">
				<table class="table table-hover">
				    <thead>
				    <tr>
				        <td>角色</td>
				        <td>权限</td>
				        <td colspan="2">操作</td>
				    </tr>
				    <thead>
				    <tbody>
				    {% for role in role_list %}
				        <tr>
				            <td>{{ role.title }}</td>
				            <td>
				                {% for item in role.permissions.all %}
				                <button class="btn btn-outline-success btn-sm" type="button">{{ item.title }}</button>
				                {% endfor %}
				            </td>
				            <td><a href="/rbac/roles/edit/{{ role.id }}">编辑</a></td>
				            <td><a href="/rbac/roles/delete/{{ role.id }}">删除</a></td>
				        </tr>
				    {% endfor %}
				    <tbody>
				</table>
			</div>
			<div class="tile-footer">
				<div class="row">
					<div class="col-md-9 col-md-offset-2">
						<a href="/rbac/roles/new" ><button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>新增</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock %}
