{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="tile">
        <h3 class="tile-title">详情&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:15px;"
                                                         id="error_xml"></span></h3>
        <div class="form-group col-md-12">
            <div class="tile-body">
                <table class="table" id="result">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>开始时间</th>
                        <th>错误个数|错误率</th>
                        <th>已完成个数</th>
                        <th>图片单位变化率</th>
                        <th>行单位变化率</th>
                        <th>执行结果存储位置</th>
                        <th>执行结果存储位置</th>
                    </tr>
                    <tr></tr>
                    </thead>
                    <tbody id="resultBody">
                    {% for item in ImageTask %}
                    <tr req_id="{{ item.id }}" class="get_resultBody">
                        <td>{{ item.id }}</td>
                        <td>{{ item.start_time }}</td>
                        <td>{{ item.failed }} | {{ item.failed }}/{{ item.finished }}={{ error }}</td>
                        <td>{{ item.finished }}</td>
                        <td>{{ item.img_diff_count }}</td>
                        <td>{{ item.text_diff_count}}/{{ item.text_base_count}}={{ row }}</td>
                        <td>{{ item.path }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="tile-body" id="imageInfo"></div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block js %}
<script>
    //判断ajax里面的方法是get还是post
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    //只要执行一次ajaxSetup进行header设置,就可以不用在没个ajax里面添加header信息了
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'))
            }
        }
    });


    //table hover
    $(function () {
        function showBox(obj, box) {
            var timer = null;
            $(obj).on("mouseover", function (e) {
                clearTimeout(timer);
                var clientX = e.clientX;
                var clientY = e.clientY;
                var y = clientY + 20;
                var txt = $(this).text();
                timer = setTimeout(function () {
                    $(box).css("left", clientX).css("top", y);
                    if (txt == "") {
                        $(box).hide();
                    } else {
                        $(box).show();
                        $(box).html(txt);
                    }
                }, 300);
            });
            $(obj).on("mouseout", function () {
                clearTimeout(timer);
                $(box).hide();
            });
        }

        showBox("#reqData > tbody td", "#showDiv");
    });


    var lst={{data|safe}}
    console.log(lst)
    table_title='<table class="table"><thead><tr><th>原始图片</th><th>Test回贴图</th><th>Base回贴图</th></tr></thead><tbody>'
    table_end='</tbody></table>'
    table_body=''
    for (item in lst){
        console.log('index'+item)
        var testImg='http://webqa.eval.nm.ted'+lst[item]['fields']['testImg']
        var testPath='http://webqa.eval.nm.ted'+lst[item]['fields']['testpath']
        var basePath='http://webqa.eval.nm.ted'+lst[item]['fields']['basepath']
        table_body=table_body+'<tr><td><a target="_blank" class="testImg"><img src="'+lst[item]['fields']['testImg']+'"/></a>'+'</td><td><a class="testPath" target="_blank"><img src="'+lst[item]['fields']['testpath']+'"/></a>'+'</td><td><a class="basePath" target="_blank"><img src="'+lst[item]['fields']['basepath']+'"/></a>'+'</td>'
        sub_table_title='<tr><td><table class="table"><thead><tr><th>test原文</th><th>base原文</th><th>编辑距离</th></tr></thead>'
        sub_table_body=''
        sub_table_end='</table></td></tr>'
        for(k in lst[item]['fields']){
            if(k=='result'){
                json_str=JSON.parse(lst[item]['fields'][k])
                for(b in json_str){
                    sub_table_body=sub_table_body+'<tr><td nowrap="nowrap">'+json_str[b]['testcontent']+'</td>'+'<td nowrap="nowrap">'+json_str[b]['basecontent']+'</td>'+'<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+json_str[b]['distance']+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>'
                }
            }
            if(k=='rankInfo'){
                sub_table_body=sub_table_body+'<tr><td colspan="3">编辑距离综合值'+lst[item]['fields']['rankInfo']+'</td></tr>'
            }
        }
        table_body=table_body+sub_table_title+sub_table_body+sub_table_end+'</tr>'
    }
    console.log(table_body)
    $('#imageInfo').html(table_title+table_body+table_end)


    $('.testImg').attr('href',testImg);
    $('.basePath').attr('href',basePath);
    $('.testPath').attr('href',testPath);



</script>
{% endblock %}


