{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="tile">
        <h3 class="tile-title" style="text-align: center">ocr识别效果对比系统使用说明</h3>
        <div class="form-group col-md-12">
            <div class="tile-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <p>
                            该系统旨在通过使用用户的真实请求图片批量请求新旧模型的ocr及回贴接口，对返回结果进行编辑距离计算，以确定新模型的影响面，同时查看是否会触发未知条件的badcase，降低触发未知错误的可能性。</p>
                        <p>平台提供两种使用方式：1.端口评测： 2.部署评测；下面分别说明使用方法及注意事项。</p>
                    </div>
                    <div class="col-md-12">
                        <h5>1.端口评测方式</h5>
                        <h6>说明：通过已有接口（base、test）批量发送请求，查看识别结果对比情况。</h6>
                        <h6>用途：对已有的接口直接发送请求进行评测，减少部署操作。</h6>
                        <h6>使用方法：</h6>
                        <p>1）选择“端口评测”tab</p>
                        <p>2）输入被测试的ocr请求接口与回贴请求接口</p>
                        <pre>ocr请求接口，如：http://api.image.sogou/v1/ocr/basic.json</pre>
                        <pre>回贴请求接口，如：http://api.image.sogou/v1/open/ocr_translate.json</pre>
                        <pre>(这里以线上地址为例，注意务必使用线下地址)</pre>
                        <p>3） 输入要对比的ocr请求接口与回贴请求接口</p>
                        <p>4） 根据需要选择语种方向</p>
                        <p>5） 备注为选填，可以为空</p>
                        <p>6） 完成以上输入后，点击添加任务即可，可从右边任务列表看到执行情况。</p>
                        <pre>注意：</pre>
                        <pre>1. 由于平台设计展现回贴图片，所以test与base的四个接口必须填写，不能为空。</pre>
                        <pre>2.该评测方式下每次只能选择一种语种。</pre>
                        <img src="/static/help/port.png">

                        <h5>2. 部署评测方式</h5>
                        <h6>说明：只需提交修改模块所在机器ip和路径，自动部署环境，并与线上版本代码的识别结果进行对比分析。</h6>
                        <h6>优点：只需提供修改模块代码，自动部署环境，完成接口请求；并提供多种语言自动切换功能，可实现多种语言自动评测。</h6>
                        <h6>使用方法：</h6>
                        <p>1） 选择“部署评测”tab</p>
                        <p>2） 输入修改模块所在机器的ip与路径</p>
                        <p>3） 根据需要选择语种方向</p>
                        <p>4） 备注为选填，可以为空</p>
                        <p>5） 完成以上输入后，点击添加任务即可，可从右边任务列表看到执行情况。</p>
                        <pre>注意：</pre>
                        <pre>1. 不论是单个语种评测还是多个语种，需将语种的data与conf分别放置对应语言的文件夹，并置于langs目录下。我们约定各语种文件夹命名如下：
                    en—英文 ch—中文 ja—日文    kr—韩文     ru—俄文
                    fr—法文 de—德文 sp—西班牙文 pt—葡萄牙文 it—意文
                    文件夹结构如下：
                    ├── langs
                        ├──ch
                            ├──data
                            ├──conf
                    </pre>
                        <pre>2.填写修改的模块路径时，以该模块名为结尾，会自动同步模块下的bin、lib、data、conf文件夹（tf_ocr_daemon模块除外，该模块只同步bin与lib，data与conf会自动与langs中的语种关联）</pre>
                        <pre>3. ip与路径任意一项为空时，使用环境中默认代码（线上版本代码）</pre>
                        <img src="/static/help/deploy.png">
                        <img src="/static/help/lang.png">

                        <h5>3. 结果查看</h5>
                        <p>
                            1）添加完任务后，右侧任务列表显示添加的任务，若当前无其他评测任务在运行，会直接运行，显示running状态；否则进入ready状态，排队等待；若有异常无法完成，显示error；任务完成显示Finished。如下图所示：</p>
                        <img src="/static/help/status.png">
                        <p>2） 若操作有误，可以点击对应任务右边的取消按钮，对应状态显示cancel，如图所示：</p>
                        <img src="/static/help/cancel.png">

                        <p>3） 点击详情可查看任务当前结果（注意执行过程中也可以查看，实时显示已发请求的结果对比情况）。</p>
                        <p>4） 结果页说明如下：</p>
                        <pre>
                        错误个数/错误率：请求失败的个数及比例
                    已完成个数：已完成的成功请求个数
                    图片单位变化率：所有成功请求结果中，以图为单位，计算编辑距离不为0的比例
                    行单位变化率：所有成功请求结果中，以行为单位计算，编辑距离不为0的比例
                    </pre>
                        <p>执行结果存储位置：该位置下存储了当前任务中，每条请求返回的回帖图片、ocr合行前的原始json串以及合行后的原始json串，可根据需要执行rsync命令。
                            如图所示：</p>
                        <img src="/static/help/result1.png">
                        <img src="/static/help/result2.png">

                        <p>服务器存储结果示例：</p>
                        <img src="/static/help/server1.png">
                        <img src="/static/help/server2.png">

                        <h5>4. 其他注意事项：</h5>
                        <p>1） 评测系统的ocr服务部署在10.141.177.27上，占用4、5、6共三张卡，请大家误使用或停止这三张卡上的服务。</p>
                        <p>2） 部署的test与base服务占用端口号为：
                            3111、4000、4019、4101、4118、4201、7400、14002、30000
                            5124、6013、6032、6131、6114、6214、9413、16015、32013
                            使用10.141.177.27时，请避免使用上述端口。</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}



