{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-5">
        <div class="tile">
            <div class="tile-body">
                <h3 class="tile-title">请求添加&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:15px;"
                                                                   id="error_xml"></span></h3>
                <div class="bs-component" id="diff">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#port_eval">端口评测</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#deploy_eval">部署评测</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="port_eval">
                            <div id="result_port">
                                <form class="row" id="port_xml" action="." method="POST" data-value="2">
                                    {% csrf_token %}
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Test</label>
                                        <input class="form-control" type="text" id="port_testocrip"
                                               name="port_testocrip"
                                               placeholder="ocr:IP:port">
                                        <p></p>
                                        <input class="form-control" type="text" id="port_testimgip"
                                               name="port_testimgip"
                                               placeholder="回帖图:IP:port">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Base</label>
                                        <input class="form-control" type="text" id="port_baseocrip"
                                               name="port_baseocrip"
                                               placeholder="ocr:IP:port">
                                        <p></p>
                                        <input class="form-control" type="text" id="port_baseimgip"
                                               name="port_baseimgip"
                                               placeholder="回帖图:IP:port">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>langs</label>
                                        <select class="form-control" id="port_langs">
                                            <option>en</option>
                                            <option>ja</option>
                                            <option>ko</option>
                                            <option>ru</option>
                                            <option>fr</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 form-check">
                                        <label class="form-check-label col-md-6">
                                            <input class="form-check-input" id="port_radio1" type="radio"
                                                   name="optionsRadios" value="zh-to" checked="">zh-to
                                        </label>
                                        <label class="form-check-label col-md-6">
                                            <input class="form-check-input" id="port_radio2" type="radio"
                                                   name="optionsRadios" value="from-zh">from-zh
                                        </label>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">备注信息</label>
                                        <input class="form-control" type="text" id="port_tag" name="port_tag"
                                               placeholder="tag">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="deploy_eval">
                            <div id="result_deploy" class="tile">
                                <form class="row" id="deploy_xml" action="." method="POST" data-value="1">
                                    {% csrf_token %}
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">langs</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy0" type="text" id="deploy_langs"
                                                       name="deploy_langs"
                                                       value="/search/odin/test/offline_t/langs" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy0" type="text" id="source_ip0"
                                                       name="source_ip1"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy0" type="text" id="source_path0"
                                                       name="source_path1"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">tf_ocr_daemon</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy1" type="text" id="deploy_path1"
                                                       name="deploy_path1"
                                                       value="/search/odin/test/offline_t/tf_ocr_daemon" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy1" type="text" id="source_ip1"
                                                       name="source_ip1"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy1" type="text" id="source_path1"
                                                       name="source_path1"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">tf_model_server</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy2" type="text" id="deploy_path2"
                                                       name="deploy_path2"
                                                       value="/search/odin/test/offline_t/tf_model_server" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy2" type="text" id="source_ip2"
                                                       name="source_ip2"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy2" type="text" id="source_path2"
                                                       name="source_path2"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">tf_detect</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy3" type="text" id="deploy_path3"
                                                       name="deploy_path3"
                                                       value="/search/odin/test/offline_t/tf_detect" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy3" type="text" id="source_ip3"
                                                       name="source_ip3"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy3" type="text" id="source_path3"
                                                       name="source_path3"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">ocr_hub</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy4" type="text" id="deploy_path4"
                                                       name="deploy_path4"
                                                       value="/search/odin/test/offline_t/ocr_hub" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy4" type="text" id="source_ip4"
                                                       name="source_ip4"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy4" type="text" id="source_path4"
                                                       name="source_path4"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">ocr_trans_latest</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy5" type="text" id="deploy_path5"
                                                       name="deploy_path5"
                                                       value="/search/odin/test/offline_t/ocr_translate/ocr_trans_latest"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy5" type="text" id="source_ip5"
                                                       name="source_ip5"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy5" type="text" id="source_path5"
                                                       name="source_path5"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">tagent</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy6" type="text" id="deploy_path6"
                                                       name="deploy_path6"
                                                       value="/search/odin/test/offline_t/ocr_translate/tagent"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy6" type="text" id="source_ip6"
                                                       name="source_ip6"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy6" type="text" id="source_path6"
                                                       name="source_path6"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">img_trans</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy7" type="text" id="deploy_path7"
                                                       name="deploy_path7"
                                                       value="/search/odin/test/offline_t/ocr_translate/img_trans"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy7" type="text" id="source_ip7"
                                                       name="source_ip7"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy7" type="text" id="source_path7"
                                                       name="source_path7"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">http_gateway</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy8" type="text" id="deploy_path8"
                                                       name="deploy_path8"
                                                       value="/search/odin/test/offline_t/ocr_translate/http_gateway"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy8" type="text" id="source_ip8"
                                                       name="source_ip8"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy8" type="text" id="source_path8"
                                                       name="source_path8"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 row">
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2">http_basic</label>
                                            <div class="col-md-10">
                                                <input class="form-control deploy9" type="text" id="deploy_path9"
                                                       name="deploy_path9"
                                                       value="/search/odin/test/offline_t/http_basic"
                                                       disabled>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12 row">
                                            <label class="control-label col-md-2"></label>
                                            <div class="col-md-5">
                                                <input class="form-control deploy9" type="text" id="source_ip9"
                                                       name="source_ip9"
                                                       placeholder="ip">
                                            </div>
                                            <div class="col-md-5">
                                                <input class="form-control deploy9" type="text" id="source_path9"
                                                       name="source_path9"
                                                       placeholder="path">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        语种选择 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div class="form-check" id="deploy_check">
                                            <label class="deploy_check form-check-label col-md-12">
                                                <input class="form-check-input" type="checkbox" value="en_zh-CHS">en-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_en">zh-en
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="ja_zh-CHS">ja-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_ja">zh-ja
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="ko_zh-CHS">ko-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_ko">zh-ko
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                            </label>
                                            <label class="deploy_check form-check-label col-md-12">
                                                <input class="form-check-input" type="checkbox" value="ru_zh-CHS">ru-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_ru">zh-ru
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="fr_zh-CHS">fr-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_fr">zh-fr
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="es_zh-CHS"
                                                       disabled>es-zh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_es"
                                                       disabled>zh-es &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </label>
                                            <label class="deploy_check form-check-label col-md-12">
                                                <input class="form-check-input" type="checkbox" value="de_zh-CHS">de-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_de">zh-de
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="pt_zh-CHS">pt-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_pt">zh-pt
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="it_zh-CHS">it-zh
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input class="form-check-input" type="checkbox" value="zh-CHS_it">zh-it
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">备注信息</label>
                                        <input class="form-control" type="text" id="deploy_tag" name="deploy_tag"
                                               placeholder="tag">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile-footer">
                <button class="btn btn-primary" id="add_task" type="button"><i
                        class="fa fa-fw fa-lg fa-check-circle"></i>添加任务
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="tile" style="height: 690px;overflow-y: scroll">
            <h3 class="tile-title">任务列表</h3>
            <table class="table" id="reqData">
                <thead>
                <tr>
                    <th>id</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>语言</th>
                    <th>failed</th>
                    <th>finished</th>
                    <th>status</th>
                    <th>ctrl</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody id="reqBody">
                {% for item in result_image %}
                <tr req_id="{{ item.id }}" class="get_data">
                    <td style="display: none">{{ item.test_ocrip}}</td>
                    <td style="display: none">{{ item.test_imgip}}</td>
                    <td style="display: none">{{ item.base_ocrip}}</td>
                    <td style="display: none">{{ item.base_imgip}}</td>
                    <td>
                        <a href="/picEval/pic/log_{{ item.id }}.html">{{ item.id }}</a>
                    </td>
                    <td>{{ item.start_time}}</td>
                    <td>{{ item.end_time}}</td>
                    <td>{{ item.langs }}</td>
                    <td>{{ item.failed }}</td>
                    <td>{{ item.finished }}</td>
                    <td>
                        {% ifequal item.status 0 %}
                        <font color="gray">Waiting</font>
                        {% endifequal %}
                        {% ifequal item.status 1 %}
                        <font color="cream">Ready</font>
                        {% endifequal %}
                        {% ifequal item.status 2 %}
                        <font color="green">Running</font>
                        {% endifequal %}
                        {% ifequal item.status 3 %}
                        <font color="red">Error</font>
                        {% endifequal %}
                        {% ifequal item.status 4 %}
                        <font color="blue">Finished</font>
                        {% endifequal %}
                        {% ifequal item.status 5 %}
                        <font color="orange">Canceled</font>
                        {% endifequal %}
                        {% ifequal item.status 6 %}
                        <font color="orange">Canceling</font>
                        {% endifequal %}
                        {% ifequal item.status 7 %}
                        <font color="orange">port-ready</font>
                        {% endifequal %}
                        {% ifequal item.status 8 %}
                        <font color="orange">port-running</font>
                        {% endifequal %}
                        {% ifequal item.status 9 %}
                        <font color="orange">port-finished</font>
                        {% endifequal %}
                        {% ifequal item.status 10 %}
                        <font color="orange">port-error</font>
                        {% endifequal %}
                    </td>
                    <td>
                        <a href="/picEval/pic/detail/?num={{ item.id }}">详情</a>
                    </td>
                    <td><button task_id="{{ item.id }}" id="cancel">取消</button></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_str }}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    //add
    $('#add_task').click(function () {

        var select = $('#port_eval').attr('class')
        if (select == 'tab-pane fade active show') {
            console.log('true')
            var port_testocrip = $('#port_testocrip').val()
            var port_baseocrip = $('#port_baseocrip').val()

            var port_testimgip = $('#port_testimgip').val()
            var port_baseimgip = $('#port_baseimgip').val()

            var temp_langs = $('#port_langs').val()
            var radio_checkd = $('input[type=radio]:checked').val()
            var port_langs
            if (radio_checkd == 'zh-to') {
                port_langs = 'zh-CHS_' + temp_langs
            } else {
                port_langs = temp_langs + '_zh-CHS'
            }

            var port_tag = $('#port_tag').val()

            if (port_testocrip != '' && port_baseocrip != '' && port_testimgip != '' && port_baseimgip != '' && port_langs != '') {
                $.ajax({
                    type: "POST",
                    url: "/picEval/pic/",
                    async: true,
                    traditional: true,
                    data: {
                        'port_testocrip': port_testocrip,
                        'port_baseocrip': port_baseocrip,
                        'port_testimgip': port_testimgip,
                        'port_baseimgip': port_baseimgip,
                        'port_langs': port_langs,
                        'port_tag': port_tag,
                        'env_type': 2,
                    },
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            location.reload()
                        } else {
                            $('#error_xml').text(ret.error)
                        }
                    }

                })
            } else {
                if (port_testip == '') {
                    $('#error_xml').text('test-IP不可为空');
                } else if (port_baseip == '') {
                    $('#error_xml').text('base-IP不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        } else {
            console.log('false')

            var jsons = {}
            jsons.deploy0 = ''
            jsons.deploy1 = ''
            jsons.deploy2 = ''
            jsons.deploy3 = ''
            jsons.deploy4 = ''
            jsons.deploy5 = ''
            jsons.deploy6 = ''
            jsons.deploy7 = ''
            jsons.deploy8 = ''
            jsons.deploy9 = ''
            $('.deploy0').each(function () {
                jsons.deploy0 = jsons.deploy0 + $(this).val() + ','
            })
            $('.deploy1').each(function () {
                jsons.deploy1 = jsons.deploy1 + $(this).val() + ','
            })
            $('.deploy2').each(function () {
                jsons.deploy2 = jsons.deploy2 + $(this).val() + ','
            })
            $('.deploy3').each(function () {
                jsons.deploy3 = jsons.deploy3 + $(this).val() + ','
            })
            $('.deploy4').each(function () {
                jsons.deploy4 = jsons.deploy4 + $(this).val() + ','
            })
            $('.deploy5').each(function () {
                jsons.deploy5 = jsons.deploy5 + $(this).val() + ','
            })
            $('.deploy6').each(function () {
                jsons.deploy6 = jsons.deploy6 + $(this).val() + ','
            })
            $('.deploy7').each(function () {
                jsons.deploy7 = jsons.deploy7 + $(this).val() + ','
            })
            $('.deploy8').each(function () {
                jsons.deploy8 = jsons.deploy8 + $(this).val() + ','
            })
            $('.deploy9').each(function () {
                jsons.deploy9 = jsons.deploy9 + $(this).val() + ','
            })
            console.log(jsons)
            var obj1=JSON.stringify(jsons)
            console.log(obj1)

            var deploy_check = []
            $('input[type=checkbox]:checked').each(function () {
                deploy_check.push($(this).val())
            })

            var deploy_tag = $('#deploy_tag').val()

            if (deploy_check != '') {
                $.ajax({
                    type: "POST",
                    url: "/picEval/pic/",
                    async: true,
                    traditional: true,
                    data: {
                        'deploy_path': obj1,
                        'deploy_check': deploy_check,
                        'deploy_tag': deploy_tag,
                        'env_type': 1
                    },
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            location.reload()
                        } else {
                            $('#error_xml').text(ret.error)
                        }
                    }
                })
            } else {
                if (deploy_check == '') {
                    $('#error_xml').text('语种不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        }
    })

    //getData
    $('.get_data').dblclick(function () {

        var linelst = $(this).children();
        port_testocrip = $(linelst[0]).text();
        port_testimgip = $(linelst[1]).text();
        port_baseocrip = $(linelst[2]).text();
        port_baseimgip = $(linelst[3]).text();

        $('#port_testocrip').val(port_testocrip);
        $('#port_baseocrip').val(port_baseocrip);
        $('#port_testimgip').val(port_testimgip);
        $('#port_baseimgip').val(port_baseimgip);

    })


    $('#cancel').click(function () {
            var task_id = $(this).attr('task_id');
            $.ajax({
                type: "POST",
                url: "/picEval/pic/cancel",
                async: true,
                traditional: true,
                data: {
                    'task_id': task_id,
                },
                dataType: 'JSON',
                success: function (obj) {
                    if (obj.status) {
                        location.reload();
                    } else {
                        $('#error_xml').text(obj.error);
                    }
                },
                error: function () {

                },
            });
        })

</script>
{% endblock %}


